NetBeansProjects/Cliente/xml-resources/web-service-references/MuralRecado/wsdl/localhost_8080/MuralRecados/MuralRecado.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.muralrecado/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.muralrecado/" name="MuralRecado">
<types>
<xsd:schema>
<xsd:import namespace="http://service.muralrecado/" schemaLocation="http://localhost:8080/MuralRecados/MuralRecado?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="inserir">
<part name="parameters" element="tns:inserir"/>
</message>
<message name="inserirResponse">
<part name="parameters" element="tns:inserirResponse"/>
</message>
<message name="consultarPorId">
<part name="parameters" element="tns:consultarPorId"/>
</message>
<message name="consultarPorIdResponse">
<part name="parameters" element="tns:consultarPorIdResponse"/>
</message>
<message name="remover">
<part name="parameters" element="tns:remover"/>
</message>
<message name="removerResponse">
<part name="parameters" element="tns:removerResponse"/>
</message>
<message name="consultar">
<part name="parameters" element="tns:consultar"/>
</message>
<message name="consultarResponse">
<part name="parameters" element="tns:consultarResponse"/>
</message>
<portType name="MuralRecado">
<operation name="hello">
<input wsam:Action="http://service.muralrecado/MuralRecado/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.muralrecado/MuralRecado/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="inserir">
<input wsam:Action="http://service.muralrecado/MuralRecado/inserirRequest" message="tns:inserir"/>
<output wsam:Action="http://service.muralrecado/MuralRecado/inserirResponse" message="tns:inserirResponse"/>
</operation>
<operation name="consultarPorId">
<input wsam:Action="http://service.muralrecado/MuralRecado/consultarPorIdRequest" message="tns:consultarPorId"/>
<output wsam:Action="http://service.muralrecado/MuralRecado/consultarPorIdResponse" message="tns:consultarPorIdResponse"/>
</operation>
<operation name="remover">
<input wsam:Action="http://service.muralrecado/MuralRecado/removerRequest" message="tns:remover"/>
<output wsam:Action="http://service.muralrecado/MuralRecado/removerResponse" message="tns:removerResponse"/>
</operation>
<operation name="consultar">
<input wsam:Action="http://service.muralrecado/MuralRecado/consultarRequest" message="tns:consultar"/>
<output wsam:Action="http://service.muralrecado/MuralRecado/consultarResponse" message="tns:consultarResponse"/>
</operation>
</portType>
<binding name="MuralRecadoPortBinding" type="tns:MuralRecado">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remover">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MuralRecado">
<port name="MuralRecadoPort" binding="tns:MuralRecadoPortBinding">
<soap:address location="http://localhost:8080/MuralRecados/MuralRecado"/>
</port>
</service>
</definitions>