NetBeansProjects/Cliente/xml-resources/web-service-references/MuralRecado/wsdl/localhost_8080/MuralRecados/MuralRecado.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.muralrecado/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.muralrecado/">

<xs:element name="consultar" type="tns:consultar"/>

<xs:element name="consultarResponse" type="tns:consultarResponse"/>

<xs:element name="inserir" type="tns:inserir"/>

<xs:element name="inserirResponse" type="tns:inserirResponse"/>

<xs:element name="remover" type="tns:remover"/>

<xs:element name="removerResponse" type="tns:removerResponse"/>

<xs:complexType name="inserir">
<xs:sequence>
<xs:element name="recado" type="xs:string" minOccurs="0"/>
<xs:element name="apelido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarResponse">
<xs:sequence>
<xs:element name="return" type="tns:recado" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recado">
<xs:sequence>
<xs:element name="apelido" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="recado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remover">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>